<head>
  <!--Bootstrap-->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  />
  <title>Construct with EJS</title>
  <style>
    body {
      padding-top: 50px;
    }
  </style>
</head>
