<!DOCTYPE html>
  <%- include('../partials/head'); %>

  <body class="container text-center">
    <%- include('../partials/header', {page: 'about'}); %>

    <main>
      <div class="jumbotron">
        <h1>About me</h1>
        <p>Hi, I'm Matheus, I'm Developer Front-End</p>
      </div>
    </main>

    <%- include('../partials/footer'); %>

  </body>

</html>